<!DOCTYPE html>
<html>
  <head>
        <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> X04 - TEAM - X04 </title>
    <!-- Favicon icon -->
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body style="text-aling: center">
    <h1>Pegar todos os participantes do grupo</h1>
    <br>
    <input type="text" name="idg" id="idga" value="120363045266984374@g.us" />
    <br>
    <button id="sla1">Pegar</button>
    <div id="sexg"></div>
    <hr>
    <h1>Remover todos os participantes do grupo</h1>
    <br>
    <input type="text" name="idg" id="idg" value="120363045266984374@g.us" />
    <br>
    <button id="sla">nuke</button>
    <hr>
    <h1>Enviar mensagens (beta) </h1>
    <br>
    
      <input type="text" name="user" id="user" value="5511981458247" />
      <br>
      <input type="text" name="texto" id="texto" value="Olá " />
      <br>
      <br>
      <button id="sexo">Enviar</button>
    
  </body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
 $("#sla").click(() => {
       $(this).attr("value", "AGUARDE...");
   $(this).attr("disabled", true);

  var id = document.getElementById("idg").value;
  
  
  $.ajax({
  url: `api/nukegroup`,
  type: 'POST', 
  data: {
    id
  }, 
  dataType: "json",
  success: function(retorno){
    if (retorno.success == true){
      Swal.fire ({
        title: "Arquivado!", 
        text: retorno.message, 
        icon: "success",
        showConfirmButton: false, 
        timer: 3000, 
        position: "top-end" 
      })
    }
    else {
      Swal.fire({
        title: "Erro", 
        text: retorno.message, 
        icon: "error",
        showConfirmButton: false, 
        timer: 3000, 
        position: "top-end"
      }) 
    }
  }
  }
  )}) 
  
  $("#sla1").click(() => {
       $(this).attr("value", "AGUARDE...");
   $(this).attr("disabled", true);

  var id = document.getElementById("idgx").value;
  
  
  $.ajax({
  url: `api/getmembers`,
  type: 'POST', 
  data: {
    id
  }, 
  dataType: "json",
  success: function(retorno){
    for (let i of retorno){
      $("#sexg").text(i.id)
    }
  }
  }
  )}) 
  $("#sexo").click(() => {
       $(this).attr("value", "AGUARDE...");
   $(this).attr("disabled", true);

  var para = document.getElementById("user").value;
  var text = document.getElementById("texto").value;
  
  $.ajax({
  url: `api/mensagem`,
  type: 'POST', 
  data: {
    para, 
    text: text
  }, 
  dataType: "json",
  success: function(retorno){
    if (retorno.success == true){
      Swal.fire({
        title: "Sucesso", 
        text: "Mensagem enviada!", 
        icon: "success",
        showConfirmButton: false, 
        timer: 3000, 
        position: "top-end"
      })
    }
    else {
      Swal.fire({
        title: "Erro", 
        text: retorno.message, 
        icon: "error",
        showConfirmButton: false, 
        timer: 3000, 
        position: "top-end"
      }) 
    }
  }
  }
  )}) 
</script>